# Ignore node_modules in any subdirectory
**/node_modules

# Ignore all .env files (backend/frontend)
**/.env
.env*

# Ignore build/dist folders
**/build
**/dist

# Testing & logs
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# PnP files
.pnp
.pnp.js
